restaurant_reviews.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.algonquincollege.com/cst8259/labs"
           xmlns="http://www.algonquincollege.com/cst8259/labs"
           elementFormDefault="qualified">

  <!-- ===================== Simple Types ===================== -->

  <!-- Canadian Postal Code -->
  <xs:simpleType name="PostalCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z][0-9][A-Z]\s?[0-9][A-Z][0-9]"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Canadian Province Codes -->
  <xs:simpleType name="ProvinceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AB5"/>
      <xs:enumeration value="BC"/>
      <xs:enumeration value="MB"/>
      <xs:enumeration value="NB"/>
      <xs:enumeration value="N6L"/>
      <xs:enumeration value="NS"/>
      <xs:enumeration value="ON"/>
      <xs:enumeration value="PE"/>
      <xs:enumeration value="QC"/>
      <xs:enumeration value="SK"/>
      <xs:enumeration value="NT"/>
      <xs:enumeration value="NU"/>
      <xs:enumeration value="YT"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ===================== Global Address Element ===================== -->

  <xs:element name="address">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="street" type="xs:string"/>
        <xs:element name="city" type="xs:string"/>
        <xs:element name="province" type="ProvinceType"/>
        <xs:element name="postalCode" type="PostalCodeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ===================== Global Menu Item ===================== -->

  <xs:element name="item">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="description" type="xs:string" minOccurs="0"/>
        <xs:element name="quantityInfo" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="servingSize" type="xs:string"/>
              <xs:element name="serves" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="price" type="xs:decimal"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- ===================== Root Element ===================== -->

  <xs:element name="restaurants">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="restaurant" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="name" type="xs:string"/>
              <xs:element name="website" type="xs:string"/>
              <xs:element ref="address"/>

              <xs:element name="category">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="foodType" type="xs:string"/>
                    <xs:element name="priceRange" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="reviews">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="review" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="rating" type="xs:integer"/>
                          <xs:element name="date" type="xs:date"/>
                          <xs:element name="reviewer" type="xs:string"/>
                          <xs:element name="summary" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="menu">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="section" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element ref="item" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required"/>
                        <xs:attribute name="order" type="xs:integer" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="lastUpdated" type="xs:date"/>
                </xs:complexType>
              </xs:element>

              <xs:element name="statistics" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="averageRating" type="xs:decimal"/>
                    <xs:element name="totalReviews" type="xs:integer"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
